#boldText{
    font-weight: bold;
}

/* вывод ошибки */
.errorToSite{
    margin-top: 20px;
    padding: 20px;
    background-color: orangered;
    text-align: center;
    width: 400px;
}

#main{
    margin: 50px auto;
    width: 550px;
    text-align: center;
}
#graph{
    width: 550px;
    height: 400px;
}